#watch-area-map-container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#watch-area-map {
  width: 100%;
  height: 350px;
}

#watch-area-controls #complete-watch-area {
  display: none;
}
#watch-area-controls #init-watch-area {
  display: block;
}

#watch-area-controls.edit #complete-watch-area {
  display: block;
}

#watch-area-controls.edit #init-watch-area {
  display: none;
}
