{% load url from future %}
{% load static %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage-map.css" />

<div class="homepage-map-container">
  <div id="homepage-map">the map</div>
</div>

<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/homepage-map.js"></script>
<script>
  var center, topics = [], watchAreas = [];

  {% for topic in featured_topics %}
    topics.push({
      place: { x: {{topic.place.x}}, y: {{topic.place.y}} },
      name: '{{ topic.name }}',
      url: '{% url "pybb:topic" topic.pk %}'
    });
  {% endfor %}

  {% for watch_area in watch_areas %}
    watchAreas.push({
      fence: {{ watch_area.fence.json|safe }},
      name: '{{ watch_area.name }}',
      area: {{ watch_area.fence.area }},
      selector: '.watch-area-{{ watch_area.pk }}'
    });
  {% endfor %}

  // Sort the shapes from biggest to smallest.
  watchAreas.sort(function(w1, w2) { return w2.area - w1.area; });

  CommunityDiscussions.initHomepageMap({
    el: 'homepage-map',
    tileUrl: 'http://{s}.tiles.mapbox.com/v3/openplans.map-dmar86ym/{z}/{x}/{y}.png',
    tileAttribution: 'Map data &copy; OpenStreetMap contributors, CC-BY-SA <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>',
    icon: L.icon({
      iconUrl: '{% static "css/images/marker-e1264d.png" %}',
      shadowUrl: '{% static "css/images/marker-shadow.png" %}',
      iconSize: L.point(25, 41),
      iconAnchor: L.point(12, 41),
      popupAnchor: L.point(1, -34),
      shadowSize: L.point(41, 41)
    }),
    center: center || [40.7199, -73.9996],
    topics: topics,
    watchAreas: watchAreas
  });
</script>
