{% load i18n pybb_tags %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script src="{{ STATIC_URL }}lib/wicket.js"></script>
<script src="{{ STATIC_URL }}lib/wicket-leaflet.src.js"></script>
<script src="{{ STATIC_URL }}js/utils.js"></script>
<script src="{{ STATIC_URL }}js/watch-area-form-map.js"></script>
<script>
  var center;

  CommunityDiscussions.initWatchAreaMap({
    el: 'watch-area-map',
    tileUrl: 'http://{s}.tiles.mapbox.com/v3/openplans.map-dmar86ym/{z}/{x}/{y}.png',
    tileAttribution: 'Map data &copy; OpenStreetMap contributors, CC-BY-SA <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>',
    center: center || [40.7199, -73.9996],
    resetConfirmationMsg: '{% trans "Changes will be lost and the watch area will reset it to the default shape. Are you sure?" %}',
    resetButtonMsg: '{% trans "Reset Your Watch Area" %}',
    fenceGeoJson: '{{ fence|default:"" }}',
    editable: {{ editable|default:"false" }}
  });
</script>
