{% extends 'pybb/base.html' %}
{% load i18n pybb_tags %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}pybb/js/jquery.formset.min.js"></script>
{% endblock %}

{% block breadcrumb %}
    {% if object %}
        {% with extra_crumb=_("Edit watch area") %}
            {% include 'pybb/breadcrumb.html' %}
        {% endwith %}
    {% else %}
        {% with object=forum extra_crumb=_("New Community") %}
            {% include 'pybb/breadcrumb.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}

{% if object %}
    <h1>{% blocktrans %}Edit watch area &quot;{{ object }}&quot;{% endblocktrans %}</h1>
{% else %}
    <h1>{% trans "New Community" %}</h1>
{% endif %}

{% include "pybb/watch_area_form.html" %}
{% endblock content %}
