{% extends 'pybb/base.html' %}
{% load i18n thumbnail pybb_tags %}

{% block title %}{% trans "Profile editing" %}{% endblock title %}

{% block content %}

<div class="span7">

    <h1>{{ request.user.username }}</h1>
    <div class="avatar">
    {% thumbnail form.instance.avatar "80x80" as avatar %}
        <img src="{{ avatar.url }}" alt="avatar">
    {% empty %}
        <img src="{{ PYBB_DEFAULT_AVATAR_URL }}" alt="avatar">
    {% endthumbnail %}
    </div>
    <p><a href="{% url auth_password_change %}">{% trans "Change the password" %}</a></p>
    <form method="post" enctype="multipart/form-data" class="profile-edit">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Profile editing" %}</legend>
            {% include "pybb/form.html" %}
            <p>{% include "pybb/_button_save.html" %}</p>
        </fieldset>
    </form>

</div>

<div class="span4 pull-right">

    <h3>{% trans "Topic Subscriptions" %}</h3>
    <ul class="subscriptions">
        {% for sub in user.subscriptions.all %}
            <li>
              <p>
                {% pybb_link sub %}
                &mdash;
                <strong><a href="{% url pybb:delete_subscription sub.id %}">{% trans "unsubscribe" %}</a></strong>
              </p>
            </li>
        {% endfor %}
    </ul>

<br />

    <h3>{% trans "Watch Areas" %}</h3>
    <ul class="watch-areas">

        {% comment %}
          TODO:
          -----
          The following loop should iterate over the union of the user's
          own watch areas as well as the watch areas that belong to other
          users that this user watches. For now a user only subscribes to
          watch areas that she owns.
        {% endcomment %}

        {% for sub in user.watch_areas.all %}
            <li>
              <p>
                {% pybb_link sub %}
                &mdash;

                {% if user in sub.watchers.all %}
                  <strong><a href="{% url pybb:delete_watch_area_subscription sub.id %}">{% trans "unsubscribe" %}</a></strong>
                {% else %}
                  <strong><a href="{% url pybb:add_watch_area_subscription sub.id %}">{% trans "subscribe" %}</a></strong>
                {% endif %}
              </p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url pybb:add_watch_area %}" class="btn btn-mini">{% trans "Add Watch Area" %}</a>

</div>

{% endblock content %}
