{% extends 'pybb/base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block title %}Community Discussions{% endblock title %}

{% block extra_head %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://{{site}}">
    <meta name="twitter:title" content="{{ site.name }}">
    <meta name="twitter:description" content="{% trans "Planning discussions are happening in places that you care about. Stay informed and give your input. Create watch areas for every neighborhood you care about. You'll be notified of what people are saying and how plans are shaping up." %}">
    <meta name="twitter:image" content="{{absolute_static}}css/images/logo-200.png">

    <meta property="og:title" content="{{ site.name }}"/>
    <meta property="og:type" content="cause"/>
    <meta property="og:url" content="http://{{site}}"/>
    <meta property="og:image" content="{{absolute_static}}css/images/logo-200.png"/>
    <meta property="og:site_name" content="{{site.name}}"/>
    <meta property="og:description" content="{% trans "Planning discussions are happening in places that you care about. Stay informed and give your input. Create watch areas for every neighborhood you care about. You'll be notified of what people are saying and how plans are shaping up." %}"/>

{% endblock %}

{% block breadcrumb %}
  {% with extra_crumb="Forum" %}{% include "pybb/breadcrumb.html" %}{% endwith %}
{% endblock %}

{% block content %}

  <div id="site-sharing" class="visible-tablet visible-desktop pull-right">
    <a class="sharing facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://{{site}}" target="_blank">{% trans "Share on Facebook" %}</a>
    <a class="sharing twitter" href="https://twitter.com/intent/tweet?source=webclient&text={% trans "Planning discussions are happening in places that you care about. Stay informed and give your input." %}&url=http://{{site}}" target="_blank">{% trans "Share on Twitter" %}</a>
  </div>

  <h2>{% trans "What are people saying in your community?" %}</h2>

  <div class="container homepage-container">

    <div class="row">

      <div class="introduction span4 clearfix">
        <p class="lead">{% trans "Planning discussions are happening in the communities you care about. " %}</p>
        <p class="lead">{% trans "Your opinion matters. So stay informed and give your input. Let your voice be heard! " %}</p>
        <p class="lead">{% trans "Draw your community on the map. You'll be notified of what people are saying and how plans are shaping up. " %}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'pybb:edit_profile' %}#profile__watch-areas" class="btn btn-primary btn-large watch-area-btn">{% trans "See Your Communities" %}</a>
        {% else %}
        <a href="{% url 'pybb:add_watch_area' %}" class="btn btn-primary btn-large watch-area-btn">{% trans "Draw Your Community" %}</a>
        <p class="muted"><small>{% trans "Already have an account?" %} <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.</small></p>
        {% endif %}
      </div>

      <div class="popular-topics span8 ">
        <div class="well well-small">
          <h3 class="muted">{% trans "Popular Discussions" %}
          <a href="{% url 'global_forum' %}" class="btn btn-small btn-info">{% trans "See All Topics" %}</a></h3>

          <ul class="activity-list unstyled">
          {% for topic in featured_topics %}
            {% with topic.last_post as post %}
            <li class="clearfix">
              <h4><a href="{% url 'pybb:post' post.pk %}">{{ topic.name }} <small class="text-info"><time datetime="{{ post.created.isoformat }}">{{ post.created }}</time></small></a></h4>
              <img src="{{PYBB_DEFAULT_AVATAR_URL}}" alt="avatar" class="avatar pull-left" />
              <p><strong>{{ post.user.username }}</strong> "{{ post.summary }}"</p>
            </li>
            {% endwith %}
          {% endfor %}
          </ul>

          {% if selected_watch_area %}
          <div class="selected-watch-area-link">
            <a href="{% url 'pybb:watch_area_topics' selected_watch_area.pk %}">More...</a>
          </div>
          {% endif %}

        </div>
      </div>

    </div>

  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>

{% endblock content %}

{% block aftercontent %}

  <div class="watch-area-container">

    <h4 class="watch-area-header muted">{% trans "Communities" %}</h4>

    {% include "pybb/_homepage_map.html" %}

    <div class="watch-area-list-container">
      <ul class="watch-area-list activity-list unstyled">
        {% for watch_area in watch_areas %}
        <li class="clearfix watch-area watch-area-{{ watch_area.pk }}">
          <h4>
            <a class="topic-list-link" href="{% url 'pybb:watch_area_topics' watch_area.pk %}">{{ watch_area.name }}</a>
            <small class="text-info">
              <span class="summary-data watcher-count">
              {% if watch_area.public %}

              {% blocktrans count number=watch_area.watcher_count %}
              {{ number }} watcher
              {% plural %}
              {{ number }} watchers
              {% endblocktrans %}

              {% else %}

              {% trans "(private)" %}

              {% endif %}
              </span>

              <span class="summary-data topic-count">
              {% blocktrans count number=watch_area.topic_count %}
              {{ number }} topic
              {% plural %}
              {{ number }} topics
              {% endblocktrans %}
              </span>

              <span class="summary-data last-update">
              {% if watch_area.latest_update %}
              Last updated <time timestamp="{{ watch_area.latest_update.isoformat }}">{{ watch_area.latest_update.isoformat }}</time>
              {% else %}
              No updates
              {% endif %}
              </span>
            </small>
          </h4>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="features container">
    <div class="row">

      <div class="span4">
        <div class="well well-small">
          <h4 class="feature watch-area">{% trans "Communities" %}</h4>
          <p>{% trans "Draw your communities on the map to follow discussions happening there. Keep track of what people are saying about your neighborhood, near your office, school, and every community you care about." %}</p>
        </div>
      </div>

      <div class="span4">
        <div class="well well-small">
          <h4 class="feature notifications">{% trans "Notifications" %}</h4>
          <p>{% trans "Receive alerts of activity in your communities. You'll know when new discussions begin, and you can be a part of the conversation and stay engaged. " %}</p>
        </div>
      </div>

      <div class="span4">
        <div class="well well-small">
          <h4 class="feature voice">{% trans "Questions" %}</h4>
          <p>{% trans "Have an idea? Need to gather community feedback? Add a question when you start a discussion and participants can choose from a set of multiple choice answers. " %}</p>
        </div>
      </div>

    </div>
  </div>

{% endblock aftercontent %}
