{% extends 'pybb/base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block title %}Community Discussions{% endblock title %}

{% block extra_head %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://{{site}}">
    <meta name="twitter:title" content="{{ site.name }}">
    <meta name="twitter:description" content="{% trans "Planning discussions are happening in places that you care about. Stay informed and give your input. Create watch areas for every neighborhood you care about. You'll be notified of what people are saying and how plans are shaping up." %}">
    <meta name="twitter:image" content="{{absolute_static}}css/images/logo-200.png">

    <meta property="og:title" content="{{ site.name }}"/>
    <meta property="og:type" content="cause"/>
    <meta property="og:url" content="http://{{site}}"/>
    <meta property="og:image" content="{{absolute_static}}css/images/logo-200.png"/>
    <meta property="og:site_name" content="{{site.name}}"/>
    <meta property="og:description" content="{% trans "Planning discussions are happening in places that you care about. Stay informed and give your input. Create watch areas for every neighborhood you care about. You'll be notified of what people are saying and how plans are shaping up." %}"/>

{% endblock %}

{% block breadcrumb %}
  {% with extra_crumb="Forum" %}{% include "pybb/breadcrumb.html" %}{% endwith %}
{% endblock %}

{% block content %}

  <div id="site-sharing" class="visible-tablet visible-desktop pull-right">
    <a class="sharing facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://{{site}}" target="_blank">{% trans "Share on Facebook" %}</a>
    <a class="sharing twitter" href="https://twitter.com/intent/tweet?source=webclient&text={% trans "Planning discussions are happening in places that you care about. Stay informed and give your input." %}&url=http://{{site}}" target="_blank">{% trans "Share on Twitter" %}</a>
  </div>

  <h2>{% trans "What are people saying in your neighborhood?" %}</h2>

  <div class="container homepage-container">

    <div class="row">

      <div class="introduction span4 clearfix">
        <p class="lead">{% trans "Planning discussions are happening in places that you care about. Stay informed and give your input." %}</p>
        <p class="lead">{% trans "Create watch areas for every neighborhood you care about. You'll be notified of what people are saying and how plans are shaping up." %}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'pybb:edit_profile' %}#profile__watch-areas" class="btn btn-primary btn-large watch-area-btn">{% trans "See Your Watch Areas" %}</a>
        {% else %}
        <a href="{% url 'pybb:add_watch_area' %}" class="btn btn-primary btn-large watch-area-btn">{% trans "Create Your Watch Area" %}</a>
        <p class="muted"><small>{% trans "Already have an account?" %} <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.</small></p>
        {% endif %}
      </div>

      <div class="popular-topics span8">
        <div class="well well-small">
          <h3 class="muted">{% trans "Popular Discussion Topics" %}
          {% if public_watch_areas|length > 0 %}
          <form class="homepage-watch-area-form" method="GET">
            <select name="watch_area">
              <option value="">{% trans "Everywhere" %}</option>
              {% for watch_area in public_watch_areas %}
              <option value="{{ watch_area.pk }}"{% if watch_area == selected_watch_area %} selected="selected"{% endif %}>{% trans "in" %} {{ watch_area.name }}</option>
              {% endfor %}
            </select>
          </form>
          {% endif %}
          <a href="{% url 'global_forum' %}" class="btn btn-small btn-info">{% trans "See All Topics" %}</a></h3>

          <script>
            $(function() {
              var $watchAreaSelector = $('[name="watch_area"]'),
                  $watchAreaForm = $('.homepage-watch-area-form');
              $watchAreaSelector.change(function() {
                $watchAreaForm.submit();
              });
            });
          </script>

          <ul class="activity-list unstyled">

          {% for topic in featured_topics %}
            {% with topic.last_post as post %}
            <li class="clearfix">
              <h4><a href="{% url 'pybb:post' post.pk %}">{{ topic.name }} <small class="text-info"><time datetime="{{ post.created.isoformat }}">{{ post.created }}</time></small></a></h4>
              <img src="{{PYBB_DEFAULT_AVATAR_URL}}" alt="avatar" class="avatar pull-left" />
              <p><strong>{{ post.user.username }}</strong> "{{ post.summary }}"</p>
            </li>
            {% endwith %}
          {% endfor %}

          </ul>

        </div>
      </div>

    </div>

  </div>

{% endblock content %}

{% block aftercontent %}

{% include "pybb/_homepage_map.html" %}

<div class="features container">
  <div class="row">

    <div class="span4">
      <div class="well well-small">
        <h4 class="feature watch-area">{% trans "Create Watch Areas" %}</h4>
        <p>{% trans "Each watch area you create keeps track of what's happening in that area." %}</p>
        <a href="{% url 'pybb:add_watch_area' %}" class="btn btn-block btn-large">{% trans "Create a Watch Area" %}</a>
      </div>
    </div>

    <div class="span4">
      <div class="well well-small">
        <h4 class="feature notifications">{% trans "Get Notifications" %}</h4>
        <p>{% trans "We send you notifications of activity in your watch areas so you can keep tabs on what's happening." %}</p>
        {% if user.is_authenticated %}
          <a href="{% url 'pybb:edit_profile' %}" class="btn btn-block btn-large">{% trans "View Profile" %}</a>
        {% else %}
          <a href="{% url 'registration_register' %}" class="btn btn-block btn-large">{% trans "Register Now" %}</a>
        {% endif %}
      </div>
    </div>

    <div class="span4">
      <div class="well well-small">
        <h4 class="feature voice">{% trans "Add Your Voice" %}</h4>
        <p>{% trans "Your opinion matters. Let your voice be heard. Take part in meaningful conversation." %}</p>
        <a href="{% url 'global_forum' %}" class="btn btn-block btn-large">{% trans "See All Topics" %}</a>
      </div>
    </div>

  </div>
</div>

{% endblock aftercontent %}
