{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{% trans "Last updates in watch area" %}{% endblock title %}

{% block breadcrumb %}
    {% with extra_crumb=_("Last updates in topics") %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="watch-area forum">
        <h1>{% trans "Last updates in watch area" %}</h1>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/watch-area-topics-map.css" />
        <div id="watch-area-map-container">
          <div id="watch-area-map"></div>
        </div>

        <div class="watch-area-subscribe">
          <a data-add-subscription-href="{% url pybb:add_watch_area_subscription watch_area.id %}"
              data-delete-subscription-href="{% url pybb:delete_watch_area_subscription watch_area.id %}"
              data-add-subscription-label="{% trans 'Get emails for new topics' %}"
              data-delete-subscription-label="{% trans 'Stop watching' %}"
          {% if user in watch_area.watchers.all %}
              class="delete-subscription btn btn-primary" href="{% url pybb:delete_watch_area_subscription watch_area.id %}">
              {% trans 'Stop watching' %}
          {% else %}
              class="add-subscription btn btn-primary" href="{% url pybb:add_watch_area_subscription watch_area.id %}">
              {% trans 'Get emails for new topics' %}
          {% endif %} <i class="subscription-icon"></i>
          </a>
        </div>

        {% include "pybb/_watch_area_map.html" with editable="false" fence=watch_area.fence|safe %}

        {% if forum.headline %}
            <div class="forum-headline alert alert-block">
                {{ forum.headline|safe }}
            </div>
        {% endif %}

        {% include "pybb/pagination.html" %}

        {% include "pybb/topic_list.html" %}

        {% include "pybb/pagination.html" %}

        {% if user.is_authenticated %}
            <div id='mark-all-as-read'>
                <a href='{% url pybb:mark_all_as_read %}'>
                    {% trans "Mark all topics as read" %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
