{% load i18n pybb_tags %}
<form class="watch-area-form" action="
    {% if object.pk %}
        {% url pybb:edit_watch_area pk=object.pk %}
    {% else %}
        {% url pybb:add_watch_area %}
    {% endif %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>

    <div class="row">
      <div class="span4">
        <p><strong>To create a new watch area:</strong> <br/>Move the map to your area of interest, add a shape, then adjust it to the edges of your neighborhood.</p>
        {% include "pybb/form_errors.html" %}
        {% if form.name %} {% include "pybb/form_field.html" with field=form.name %} {% endif %}
        {% if form.login %} {% include "pybb/form_field.html" with field=form.login %}  {% endif %}
        {% if user.is_staff %} {% include "pybb/form_field.html" with field=form.public %} {% endif %}
        <div id="watch-area-controls"{% if form.fence.value %} class="edit"{% endif %}>
          <button id="init-watch-area" class="btn btn-large">{% trans "Add a Shape" %}</button>
          <div id="complete-watch-area">
          {% include "pybb/_button_submit.html" %}
          <a href="#" id="reset-watch-area">Reset Your Watch Area</a>
          </div>
        </div>
      </div>
      <div class="span7 pull-right">
        {% include "pybb/form_field.html" with field=form.fence %}
        {% include "pybb/_watch_area_form_map.html" with fence=form.fence.value %}
      </div>
    </div>
  </fieldset>
</form>
