DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'community_discussions',
        'USER': 'my_username',
        'PASSWORD': 'my_password',
        'HOST': 'localhost',
        'PORT': 5432
    }
}

GOOGLE_ANALYTICS_KEY = 'my_ga_key'
